{%  extends "base.html" %}
{% block title %}{{ super() }} - {{ article.title }}{% endblock %}
{% block metatags %}
{{ super() }}
<meta property="og:title" content="{{ article.title }}">
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}">
{% endblock %}
{% block content %}
    <article class="post">

        <h1 class="title">
            {{ article.title }}
        </h1>
        <div class="post-meta">
            <time datetime="{{ article.date }}">{{ article.date|format_date }}</time>
        </div><!--/post-meta -->

        <div class="the-content">
        {{ article.content }}
        </div><!-- the-content -->

        <div class="meta clearfix">
            <div class="category">
                <ul class="post-categories">
                    <li>
                        <a href="{{ SITEURL }}/category/{{ article.category.name }}.html" title="View all posts in {{ article.category }}"
                        rel="category tag">{{ article.category }}</a>
                    </li>
                </ul>
            </div>
            <div class="tags"></div>
        </div><!-- Meta -->
        {% if DISQUS_SITENAME %}
        <div class="comments">
            <div id="disqus_thread"></div>
            <script type="text/javascript">
               var disqus_identifier = "{{ article.url }}";
               (function() {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] ||
                     document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
        </div>
        {% endif %}
    </article>
{% endblock %}