{%  extends "base.html" %}
{% block metatags %}
{{ super() }}
<meta property="og:url" content="{{ SITEURL }}" />
{% endblock %}
{% block content %}
{%  if articles %}
    {% for article in articles_page.object_list  %}
    <article class="post">
        <h1 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}" role="bookmark">{{ article.title }}</a>
        </h1>
        <div class="post-meta">
           <time datetime="{{ article.date }}">{{ article.date|format_date }}</time>
        </div><!--/post-meta -->

        <div class="the-content">
        {{ article.summary }}
        <p><a href="{{ SITEURL }}/{{ article.url }}" title="Read more about {{ article.title|striptags }}" class="more-link">Read more&#8230;</a></p>
        </div><!-- the-content -->

        <div class="meta clearfix">
            <div class="category">
                <ul class="post-categories">
                    <li>
                        <a href="{{ SITEURL }}/category/{{ article.category.name }}.html" title="View all posts in {{ article.category }}"
                        rel="category tag">{{ article.category }}</a>
                    </li>
                </ul>
            </div>
            <div class="tags"></div>
        </div><!-- Meta -->
    </article>
    {% endfor %}

    <!-- pagintation -->
    <div id="pagination" class="clearfix">
    {% if articles_page.has_previous() %}
        <div class="past-page"><a href="{{ articles_previous_page.url }}">Newer &raquo;</a></div>
    {% endif %}
    {% if articles_page.has_next() %}
        <div class="next-page"><a href="{{ articles_next_page.url }}" > &laquo; Older</a></div>
    {% endif %}
    </div><!-- pagination -->
{% endif %}
{% endblock %}