{%  extends "base.html" %}
{% block content %}
{%  if articles %}
    {% for article in articles_page.object_list  %}
    <article class="post">

        <h1 class="title">
            <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}" role="bookmark">{{ article.title }}</a>
        </h1>
        <div class="post-meta">

        </div><!--/post-meta -->

        <div class="the-content">
        {{ article.summary }}
        <p><a href="{{ SITEURL }}/{{ article.url }}" title="Read more about {{ article.title|striptags }}" class="more-link">Read more&#8230;</a></p>
        </div><!-- the-content -->

        <div class="meta clearfix">
            <div class="category"><ul class="post-categories">
<li><a href="http://lessmade.com/themes/less/category/writing/" title="View all posts in writing" rel="category tag">{{ article.category }}</a></li></ul></div>
            <div class="tags"></div>
        </div><!-- Meta -->

    </article>
    {% endfor %}
    <!-- pagintation -->
    <div id="pagination" class="clearfix">
        <div class="past-page"></div>
        <div class="next-page"><a href="http://lessmade.com/themes/less/page/2/" > &laquo; Older</a></div>
    </div><!-- pagination -->
{% endif %}
{% endblock %}